.button {
  display: flex;
  height: 59px;
  width: 72px;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 6.76px;
  background: #f7f6f3;
  border: none;
  cursor: pointer;
}

.button span {
  font-size: 10px;
}
