.card {
  border-radius: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.card-HC1 {
  background-size: cover;
  height: 60px;
}
.card-HC3 {
  background-size: cover;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  /* margin-top: 125px; */
}

.card-HC6 {
  background-size: cover;
  height: 60px;
}

.card-HC9 {
  height: 195px;
}
